body {
  background-image: url(flowers.jpg);
  background-size: cover;

}

.col-sm-2 {
  background-color: #ffffff;
  opacity: 0.8;
  color: black;
  margin: 50px;
}

.col-sm-8 {
  background-color: #ffffff;
  opacity: 0.8;
  color: black;
  margin: 50px;
}
